
.black-header{
    max-width:1024px;
    height:57px;
    background-color:black;
    display:flex;
    margin:auto;
}
.color{
    color:#108897!important;
}
.pig{
    cursor:pointer;
    margin-top:2px;
    margin-left:9px;
}
.future{
    margin-top:17px;
    margin-left:36px;
    font-family: Helvetica;
    font-size: 18px;
    color: #FFFFFF;
    text-align: left;
    
}
.wallet{
    cursor:pointer;
    margin-left: 30px;
    margin-top: 1px;
}

.doodle{
    cursor:pointer;
    margin-left: 254px;
    margin-top: 1px;
}
.text{
    margin-top:16px;

    color: #0f62fe;
    font-family: Helvetica;
    font-size: 18px;
}