<div class="black-header content">
    <div routerLink="/transactions" class="pig">
        <img src="../../assets/img/pig.svg">
    </div>
    <div class="color future">
        CryptoScholar - Invest In Their Future
    </div>
    <div>
        
    </div>


    <div class="wallet">
        <img src="../../assets/img/wallet.svg">
    </div>
    <div class="color text">
        Current Wallet Balance: {{this.walletBalanceH}}
    </div>
    <div routerLink="/browse"class="doodle">
        <img src="../../assets/img/doodle.svg">
    </div>
    
</div>