<app-header></app-header>
<div class="content">
    <div class="flex-bottom">
    <div class="margin-main">
        
            <img src="../../assets/img/money-gold-coins-finance.jpg">
            <div class="margin-writing">
                <div class="writing">
                    A more stable investment than gold for their future
                </div>
            </div>
            <div class="button-area">
                <button routerLink="/browse" class="button" type="button">
                    <div class="button-align" >
                        Start
                    </div>
                </button>
            </div>       
    </div>
    </div>  
    <div class="flex-bottom">
        <div class="margin-left">
            <img src="../../assets/img/its-free-featured.jpg">

        </div>
        <div class="margin-center">
            <img src="../../assets/img/graduation-2349741_640.jpg">

        </div>
        <div class="margin-right">
            <img src="../../assets/img/vernazza-italy-free-photo-1080x720.jpg">
        </div>
    </div>
</div>