<app-header></app-header>
<div class="content">
    <div class="first-writing">Your scholarship request has been accepted, this is your wallet</div> 
    <ng-container *ngFor="let t of txs;let i=index;" class="unopened-box">
        <div class="unopened-box">
            <div (click)="setRow(i)" class="font-margin font-box">{{t.name}}
                <img (click)="setRow(i)"class="margin-arrow" [src]="selectedIndex===i?'../../assets/img/down-arrow.svg':'../../assets/img/up-arrow.svg'">
            </div>
        </div>
        <div *ngIf="selectedIndex===i" class="opened-box">
           <p class="transaction-text">
               Amount: {{t.amount}} KMD <br>
               Date: {{t.date| date :'medium'}}<br>
               Number of Years: {{t.redemptions}} <br>
           </p>
        </div>
        
    </ng-container>
    <div class="total-box">
        <div class="current-balance">Current Balance:{{currentBalance}}</div>
        <div class="scholar-num">Number of Transactions: {{currentHeight}}</div>
    </div>
    <div class="total-box">
        <div class="current-balance">KMD Available:{{walletBalance}}</div>
        <div class="number-transactions">Scholarships To Date: {{walletHeight}}</div>
    </div>
</div>